/* General */
@font-face {
    font-family: "Glamour";
    src: url("Fonts/glamour-authentic.ttf") format("truetype");
  }

@font-face {
    font-family: "Atlante";
    src: url("Fonts/RNSAtlante-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gilmer";
    src: url("Fonts/Gilmer-Regular.otf");
}

@font-face {
    font-family: "Slowly Lovely";
    src: url("Fonts/Slowly\ Lovely\ Script.ttf") format("truetype");
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

/* NAV BAR STYLES*/

ul {
    list-style-type: none;
    overflow: hidden;
    padding: 1.5em;
    background-color:rgb(255, 255, 255); 
    text-align: right;
}

li {
    display: inline;
}

li a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: "Atlante";

}

#ml-logo {
    width: 70px;
    height: 70px;
}

/* Intro section */

#main-title-script {
	font-family: "Slowly Lovely";
    font-weight: normal;
    font-size: 3.5em;
    margin-bottom: 0;

}

#main-title-serif {
	font-family: "Glamour";
    font-weight: normal;
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;

}

#main-title-text {
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 2em; 
}

h1 {
    line-height: 1em;
}

#intro-blurb {
    font-family: "Gilmer";
    font-weight: normal;
    font-size: 1.2em;
}

#pfp-img {
    width: 40%;
    height: 40%;
    margin-top: 4em;
    margin-right: 4em;
    margin-left: -1em;
    margin-bottom: 3em;
    transform: rotate(5deg);
    transition: all 0.3s;
}

#pfp-img:hover {
    transform: rotate(-5deg);
    transition: 0.3s ease;
 }
