/* General */
@font-face {
    font-family: "Glamour";
    src: url("Fonts/glamour-authentic.ttf") format("truetype");
  }

@font-face {
    font-family: "Atlante";
    src: url("Fonts/RNSAtlante-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gilmer";
    src: url("Fonts/Gilmer-Regular.otf");
}

@font-face {
    font-family: "Gilmer Bold";
    src: url("Fonts/Gilmer-Bold.ttf");
}

@font-face {
    font-family: "Slowly Lovely";
    src: url("Fonts/Slowly\ Lovely\ Script.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearfix {
    clear: both;
}

:root {
    --dark-gray: #363636;
    --purple: #CFA8C6;
    --cyan: #86EAE1;
    --yellow: #FFEAA6;
    --pink: #E296B1;
    --blue: #C2CDE6;
}


/* NAV BAR STYLES */

#nav-bar {
    top: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    padding-right: 1.5em; 
    background-color:rgb(255, 255, 255); 
}

li {
    display: inline;
}


li a {
    padding: 1em;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: "Atlante";
}

#logo {
    margin-left: 7.5em;
    float: left;
}

#ml-logo {
    width: 70px;
    height: 70px;

}

#nav-options {
    float: right;
    margin-right: 7.5em;   
    
}
/* Intro section */

#intro {
    background-color: white;
}

#main-title-script {
	font-family: "Slowly Lovely";
    font-weight: normal;
    font-size: 3.5em;
    margin-bottom: 0;

}

#main-title-serif {
	font-family: "Glamour";
    font-weight: normal;
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;

}

#main-title-text {
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 2em; 
}

h1 {
    line-height: 1em;
}

#intro-blurb {
    font-family: "Gilmer";
    font-weight: normal;
    font-size: 1.2em;
}

#pfp-img {
    width: 40%;
    height: 40%;
    margin-top: 4em;
    margin-right: 4em;
    margin-left: -1em;
    margin-bottom: 3em;
    transform: rotate(5deg);
    transition: all 0.3s;
}

#pfp-img:hover {
    transform: rotate(-5deg);
    transition: 0.3s ease;
 }


/* About section */

#about {
    background-color: var(--dark-gray);
    margin: -10px
}

#about-title {
    justify-content: center;
    text-align: center;
    color: white;
    font-family: "Glamour";
    font-weight: normal;
    font-size: 3.5em;
    padding-top: 2em;
    background-size: contain;
    margin-bottom: 0;
    padding-bottom: 0;
}

svg:not(:root) {
    overflow:visible;
}

.center-container {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    justify-content: center;
}

#about-me-facts {
    font-family: "Gilmer";
    font-weight: normal;
    font-size: 0.7em;
    color: white;
    padding-bottom: 7em;

}

/* Projects section */

#projects {
    padding-top: 2em;
}

#projects-title {
    margin-top: 5em; 
    margin-left: 37%;
    margin-right: 25%;
    text-align: left;
    
}

#projects-italic {
    font-family: "Atlante";
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0;
}

#projects-serif {
    font-family: "Glamour";
    font-size: 4em;
    margin-top: 0.4em;

}

#projects-grid {
	display: grid;
	width: 900px;
	padding: 30px 0px 30px 0px;
	grid-gap: 30px;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	margin: 0 auto;
}

#projects-grid div {
	display: flex;
	width: 500px;
	flex-direction: column;
	border-radius: 15px;
    border-width: 1px;
    border-color: var(--dark-gray);
    border-style: solid;
}

#projects-grid img {
    height: auto;
    width: 80%; 
    align-self: center;
    padding: 25px 0px 15px 0px;

}

#projects-grid h3 {
    font-family: "Glamour";
    font-size: 2em;
    margin-left: 1.7em;
    margin-right: 1.7em;
    margin-bottom: 0;
}

#projects-grid h4 {
    font-family: "Atlante";
    font-size: 1em;
    margin-left: 3.2em;
    margin-top: 0;
    margin-bottom: 0;

}

#projects-grid p {
    font-family: "Gilmer";
    font-size: 1em;
    margin-left: 3.2em;
    margin-top: 0;
    margin-right: 2em;
    margin-bottom: 2em;
}

#ending-block {
    margin-top: 3em;

}

/* Involvement section */

#involvement {
    background-color: #363636;
    margin: -10px;
    padding-bottom: 5em;
}

#involvement-title {
    margin-top: 4em; 
    padding-top: 4em; 
    /* margin-left: 37%; */
    margin-right: 40%;
    text-align: right;
    color: white;
}

#stuff-ive {
    font-family: "Atlante";
    font-size: 3.5em;
    margin-bottom: 0;

}

#been-doing {
    font-family: "Atlante";
    font-size: 3.5em;
    margin-top: 0.4em;
}

.activity {
	display: flex;
    align-items: center;
    justify-content: center;
	margin-left: 20%;
    margin-right: 20%;
}

.activity-image {
    width: 20%;
    height: 20%;
    margin-right: 3em;
}

.ct-image {
    width: 30%;
    height: 30%;
}

.activity-text {
    color: white;
}

.activity h3 {
    font-family: "Atlante";
    margin-bottom: 0;
}

.activity h2 {
    margin-top: 0;
    font-family: "Glamour";
    font-size: 2.5em;
}

.activity h4 {
    font-family: "Gilmer";
    font-weight: normal;
}


/* Contact section */

#contact {
    margin: -55px;
    padding-top: -4em;
    padding-bottom: 1em;
    background-image: url("main-assets/footer_gradient.png");
    background-size: 100%;
}

#contact h1 {
    padding-top: 2em;
    margin-left: 20%;
    font-family: "Glamour";
    font-size: 4em;
    margin-bottom: 0;
}

#contact h2 {
    margin-top: 0;
    padding-top: 0;
    margin-left: 20%;
    font-family: "Atlante";
    font-size: 2em;
}

#contact h3 {
    margin-left: 20%;
    font-family: 'Gilmer Bold';
    padding-bottom: 4em;

}

#contact a {
    text-decoration: none;
    color: #914cec;
    margin-right: 2em;
    margin-bottom: 2em;
}

/* Footer */

#footer {
    background-color: #363636;
    margin-top: 0;
    margin: -10px;

}

#footer h3 {
    font-family: "Gilmer";
    color: white;
    margin-left: 18%;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 1em;
    margin-bottom: 0;

}